{% for course_page in include.course_pages %}
    <article class="dashboard-today">
        {% comment %}Course metadata{% endcomment %}
        <h3>
            {% include templates/courses/_badge.liquid name=course_page.course %}
            {{ course_page.object }}
        </h3>

        <div class="dashboard-card md:show">
            <h4>🎯 Objectifs</h4>
            <ul class="dashboard-card-body">
                {% for objective in course_page.objectives %}
                    <li>{{ objective.description }}</li>
                {% endfor %}
            </ul>
        </div>

        {% comment %}Course tutorials{% endcomment %}
        <div class="dashboard-card">
            <h4>💻️ Travaux Pratiques</h4>
            <div class="dashboard-card-body">
                <ol class="list-group">
                    {% assign session_tutorials = site.tutorials | where_exp: "item", "item.course.name == course_page.course" %}
                    {% for tutorial in session_tutorials %}
                        {% assign tutorial_sessions = tutorial.course.sessions | join: " -- " %}
                        {% unless tutorial_sessions contains course_page.session %}
                            {% continue %}
                        {% endunless %}
                        <li>
                            <a class="list-group-item" href="{{ tutorial.url | relative_url }}">
                                {{ tutorial.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
{% comment %}
TODO
{% endcomment %}

        <footer>
            <a href="{{ course_page.url | relative_url }}">Accéder aux détails du cours</a>
        </footer>
    </article>

    {% comment %}Separator{% endcomment %}
    {% unless forloop.last %}
        <hr>
    {% endunless %}
{% endfor %}
